<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!--  Custom Styles  -->
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet">

    <title>REGISTER FORM - DOCTOR</title>

</head>
<body>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a href="#">
        <img
                width="150"
                alt="Angular Logo"
                src="../../../../assets/resources/images/logo1.png"
        /></a>

    <div class="spacer"></div>
    <div class="navigation">
        <ul>
            <li>
                <div>
                    <a href="#" class="btn-log"><i class="fas fa-user"></i>  {{session.user}}</a>
                    <a href="#" class="btn-log"><i class="fas fa-sign-out-alt"></i></a>
                </div>



            </li>
            <li><a href="/">Information</a></li>
            <li><a href="/appointments">Appointments</a></li>
            <li><a href="/tests">Tests</a></li>
            <li><a href="/medicines">Medicines</a></li>
        </ul>
    </div>

</div>

<!--  Main Screen  -->

<!--  Content  -->

<div class="container-normal dark">

    <div class="text-center text-wrap">
        <h4>STAFF REGISTRATION</h4>
        <p>Confirm given information </p>
    </div>
</div>

<div class="container-text container-normal light">
    <div class="container-head">
        <div class="row">
            <div class="col">
                <form method="post" action="registerStaffSubmit">

                    <br>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Name with Initials</label>
                                <input class="form-control" id="name" name="name" type="text" placeholder="Name of Yours"/>
                                <!--                        <small>Not there</small>-->
                            </div>
                        </div>

                    </div>

                    <br>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>User Role</label>
                                <select class="form-control" id="role" name="role">
                                    <option value="Patient">Patient</option>
                                    <option value="Doctor">Doctor</option>
                                    <option value="Technician">Technician</option>
                                </select>

                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" id="email" name="email" type="email" placeholder="Your Email"/>
                                <!--                        <small>Not there</small>-->
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label>Contact</label>
                                <input class="form-control" id="contact" name="contact" type="text" placeholder="Your Contact No."/>
                                <!--                        <small>Not there</small>-->
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="col" style="display:flex; justify-content:center">
                        <button type="submit"
                                style="display: inline-block;
            border: none;
            padding: 1rem 2rem;
            margin: 0;
            text-decoration: none;
            background:  rgb(7, 102, 102);
            color: #ffffff;
            font-family: sans-serif;
            font-size: 1rem;
            line-height: 1;
            cursor: pointer;
            text-align: center;
            transition: background 250ms ease-in-out, transform 150ms ease;
            -webkit-appearance: none;
            -moz-appearance: none;"
                        >Register</button>
                    </div>
                </form>
                <div class="text-center">
                    <a href="/login">To Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


</body>
</html>


